body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}


.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 767.68px) {
  .header-inner {
    display: block;
  }
}

.nav-menu {
  display: flex;
  gap: 24px;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .nav-menu {
    gap: 120px;
  }
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  margin-left: auto;
  padding: 16px 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.logo-header {
  /* display: inline-flex;
  align-items: center; */
  padding: 16px 0;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-studio {
  color: #2e2f42;
}

.page-nav {
  display: flex;
  gap: 40px;
  flex-grow: 1;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

@media only screen and (min-width: 320px) and (max-width: 767.98px) {
  .page-nav {
    display: none;
  }
}

.nav-link {
  display: inline-block;
  padding: 24px 0;
  color: #2e2f42;
  text-decoration: none;
  line-height: 1.5;
}

.nav-link-first {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-first::after {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  content: '';
}

.nav-link:hover {
  color: #404bbf;
  font-size: 16px;
  text-decoration: underline;
}

.nav-link:focus {
  color: #404bbf;
}
.page-address {
  font-style: normal;
}

@media only screen and (min-width: 320px) and (max-width: 767.98px) {
  .page-address {
    display: none;
  }
}

.address-list {
  display: flex;
  gap: 40px;
}

@media only screen and (min-width: 768px) {
  .address-list {
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    display: flex;
  }
}

@media only screen and (min-width: 1158px) {
  .address-list {
    flex-direction: row;
    gap: 40px;
  }
}

.page-address a {
  color: #434455;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .page-address a {
    color: #434455;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}

@media only screen and (min-width: 1158px) {
  .page-address a {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.page-address a:hover {
  color: #404bbf;
}
.page-address a:focus {
  color: #404bbf;
}

.section-hero {
  background-color: #2e2f42;
  padding: 72px 0;
  max-width: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-section/hero-bg_mob.jpg);
}

@media only screen and (min-resolution: 192dpi) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-section/hero-bg_mob@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .section-hero {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-section/hero-bg_tab.jpg);
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-section/hero-bg_tab@2x.jpg);
  }
}

@media only screen and (min-width: 1158px) {
  .section-hero {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-section/hero-bg_desktop.jpg);
  }
}

@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-section/hero-bg_desktop@2x.jpg);
  }
}

.title {
  color: #fff;
  max-width: 288px;
  text-align: center;
  margin: 0 auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  padding: 0 40px;
}
@media only screen and (min-width: 768px) {
  .title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    padding: 0;
  }
}

.button-service {
  display: block;
  color: #fff;
  padding: 16px 32px;
  margin: 72px auto 0;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  line-height: 1.5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-service:hover {
  background-color: #404bbf;
}
.button-service:focus {
  background-color: #404bbf;
}

.advantages-section {
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .advantages-section {
    padding: 120px 0;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

.advantages-factors {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .advantages-factors {
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .advantages-factors {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.advantages-item {
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .advantages-item {
    display: flex;
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .advantages-item {
    width: calc((100% - 72px) / 4);
  }
}

.advantages-icon {
  display: none;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
}

@media screen and (min-width: 1158px) {
  .advantages-icon {
    display: flex;
  }
}

.advantages {
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 8px;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1158px) {
  .advantages {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
}

.advantages-list {
  color: #434455;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1158px) {
  .advantages-list {
    font-weight: 400;
  }
}

.section-team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

@media screen and (min-width: 768px) {
  .section-team {
    padding: 96px 92px;
  }
}

@media screen and (min-width: 1158px) {
  .section-team {
    padding: 120px 0;
  }
}

.team {
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  text-align: center;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .team-list {
    align-items: center;
    gap: 64px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.team-member {
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

@media only screen and (min-width: 768px) {
  .team-member {
    max-width: 264px;
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team-member {
    flex-basis: calc((100% - 72px) / 4);
    min-width: 264px;
  }
}

.team-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
  align-items: center;
  text-align: center;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.card-content {
  padding: 32px 0;
}

.skills {
  align-items: center;
  text-align: center;
  margin-bottom: 8px;
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.card-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.card-item {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}


.section-portfolio {
  background-color: #ffffff;
  padding: 96px 0;
}

@media screen and (min-width: 768px) {
  .section-portfolio {
    padding: 96px 0;
  }
}

@media screen and (min-width: 1158px) {
  .section-portfolio {
    padding: 120px 0;
  }
}

.portfolio {
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  text-align: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    gap: 72px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    gap: 48px 24px;
  }
}

.portfolio-card {
  flex-basis: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .portfolio-card {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-card {
    flex-basis: calc((100% - 48px) / 3);
  }
}

.portfolio-card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-image {
  position: relative;
  overflow: hidden;
}

.portfolio-card:hover .portfolio-discription {
  transform: translateY(0%);
}

.portfolio-discription {
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: center;
  color: #f4f4fd;
}

.portfolio-item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-project {
  color: #2e2f42;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-project-list {
  color: #434455;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

@media screen and (min-width: 768px) and (max-width: 1157.98px) {
  .footer-content {
    padding: 0 108px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .logo-footer {
    justify-content: start;
  }
}

.footer-logo-studio {
  color: #f4f4fd;
}
.advice {
  max-width: 288px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .advice {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .advice {
    width: 264px;
    margin-bottom: 0;
    margin-right: 120px;
  }
}

.footer-social-link {
  margin: 72px auto;
}

@media screen and (min-width: 768px) {
  .footer-social-link {
    margin: 0 0 0 24px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-social-link {
    margin: 0 80px 0 0;
  }
}

.footer-media {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  font-weight: 500;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .footer-media {
    text-align: start;
  }
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-item {
  height: 40px;
  width: 40px;
}

.social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: #31d0aa;
}

.social-icon {
  fill: #f4f4fd;
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .subscribe-form {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.email-form {
  display: flex;
  width: 100%;
}

.modal-title-footer {
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .modal-title-footer {
    text-align: start;
  }
}

.email-input {
  border-radius: 4px;
  border: 1px solid #fff;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding: 8px 0 8px 16px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #fff;
}

@media screen and (min-width: 768px) {
  .email-input {
    width: 264px;
  }
}

input::placeholder {
  color: #fff;
}

.button-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  margin: 0 auto;
  padding: 8px 24px;
  text-align: center;
  color: #fff;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.social-icon-input {
  fill: #ffffff;
  margin-left: 16px;
}

.backdrop {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 288px;
  max-width: 100%;
  min-height: 584px;
  max-height: 100%;
  overflow-y: auto;
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 72px 16px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding: 72px 25px 23px 24px;
  }
}

.button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:focus,
.button-close:hover {
  background-color: #404bbf;
  border: none;
}

.icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover .icon-close {
  fill: #fff;
}

.button-close:focus .icon-close {
  fill: #fff;
}

.modal-title {
  text-align: center;
  margin-bottom: 16px;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-icon-wrap {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-input {
  border: 1px solid #2e2f4266;
  border-radius: 4px;
  height: 40px;
  width: 100%;
  padding: 8px 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
  outline: none;
  border-color: #4d5ae5;
}

.modal-field-textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.modal-textarea {
  resize: none;
  border: 1px solid #2e2f4266;
  border-radius: 4px;
  min-height: 120px;
  width: 100%;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:hover,
.modal-textarea:focus {
  outline: none;
  border-color: #4d5ae5;
}

.modal-textarea::placeholder {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 24px;
  fill: transparent;
}

@media screen and (max-width: 767.98px) {
  .modal-checkbox {
    position: relative;
  }
}

.modal-checkbox-check {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  width: 16px;
  height: 16px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767.98px) {
  .modal-checkbox-check {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

.modal-checkbox-input:checked + .modal-checkbox-label .modal-checkbox-check {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-checkbox-label {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

@media screen and (max-width: 767.98px) {
  .modal-checkbox-label {
    margin-left: 24px;
  }
}

.link-policy {
  color: #4d5ae5;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

.modal-button-send {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button-send:hover {
  background-color: #404bbf;
}

.modal-button-send:focus {
  background-color: #404bbf;
}

.menu-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 72px 16px 40px;
  transform: translateX(100%);
  transition: transform 250ms ease-in;
}

.menu-container.is-open {
  transform: translateX(0);
}

.mob-btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  min-width: 24px;
  min-height: 24px;
  border: 1px solid #e7e9fc;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mob-menu-list {
  margin-bottom: auto;
}
.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-menu-link {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-decoration: none;
}

.mob-menu-link:focus {
  color: #404bbf;
}

.mob-contacts {
  margin-bottom: 48px;
}
.mob-contacts-item:not(:last-child) {
  margin-bottom: 24px;
}
.mob-contacts-link {
  color: #434455;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mob-contacts-link:focus {
  color: #404bbf;
}

.mob-icon-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.mob-link-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}
.mob-icon-socials {
  fill: #f4f4fd;
}
